body{
    background-image: linear-gradient(to right,  #00BFFF,#8A2BE2);
}

h1{
padding-left: 40%;
font-size: 100px;
}

h2{
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    padding: auto;
    font-size: 20px;
}


.row{
    padding-left: 30%;
}

.btn{
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}