body{
    background-image: linear-gradient(to right,  #00BFFF,#8A2BE2);
}

h1{
padding-left: 40%;
font-size: 100px;
}

h2{
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    padding: auto;
}